@charset "UTF-8";   

#grauerbalken {
    display: flex;
    background-color: #666666;
    z-index: 1;
    width: 100vw;
    height: 18vw;
    text-align: center;
    justify-content: flex-start;
    flex-direction: column;
}

#grauerbalken p{
	color: white;
	width: 72vw;
	height: 15vw;
	text-align: left;
	padding-left: 28vw;
}

#grauerbalken b{
	color: white;
}

#nichtgrau {
    width: 70vw;
    height: auto;
    justify-content: flex-start;
    flex-direction: row;
    padding-top: 2.5vw;
	padding-left: 15vw;
    padding-bottom: 2.5vw;
    margin-left: 13vw;
	
}

#nichtgrauerweitert {
	width: 40vw;
	height: 138vh;
	text-align: left;
	padding-left: 28vw;
	margin-top: 2.5vh;
	
}

#kv_wahlguide_02{
    width: 10vw;
    height: 25vh;
    float: right;
    background-image: url(../img/kv_wahlguide_02.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 100% 100%;
    margin-top: -7vh;
	margin-right: 0vw;
}

#kv_wahlguide_01 {
  width: 10vw;
  height: 82vh;
  float: left;
  background-image: url(../img/kv_wahlguide_01.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 100% 100%;
  margin-top: -10vw;
  margin-left: 0vw;
}

#Wahlergebnis {
  width: 100vw;
  height: 50vh;
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
    position: relative;
}
aside {
    position: absolute;
    padding: 0vw;
		
#element1 {
    background-color: rgba(128, 128, 128, .6);
    left: 2em;
    padding-bottom: 5em;
    top: 5em;
     z-index: 2;
}

#element2 {
	z-index: 9;
}
	 
#element3 {
	z-index: 0;
}

#element4 {
	z-index: 5;
}

.box1 {
  float: left;
  display: inline;
  margin-top: -10vh;
}

#button1 {  float: left;
  display: inline;
  margin-top: -10vh;
    
}

/*Style JS*/






