@charset "UTF-8";

/* CSS Document */


/* ################################################################## */


/* HTML Standard Tags */


/* ################################################################## */

body, html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

body {
  background-color: white;
}

h1 {
  font-size: 2.5em;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-top: -3vw;
  font-weight: 900;
}


h2 {
  text-align: center;
  text-transform: none;
}

p {
  font-size: 11pt;
}

* {
  font-family: Open Sans;
  color: #666666;
}


/* ################################################################## */


/* Zusammengefasste Klassen */


/* ################################################################## */

.box {
  float: left;
  display: inline;
  margin-top: 2.5%;
}

.h_linksbuendig {
  font-size: 24pt;
  text-align: left;
  padding-top: 5%;
  box-sizing: border-box;
}

.wrapper {
  width: 70vw;
  margin: 0 auto;
}

.wrapper2 {
  width: 100vw;
  margin: 0 auto;
}

.wrapper3 {
  width: 90vw;
  margin: 0 auto;
}

/* ################################################################## */


/* Zusammengefasste ID*/


/* ################################################################## */

#Inhalt {
  padding-top: 70px;
}

#Einleitung {
  margin-top: 70px;
}


/*#### Vorlage-1-Spalte ###*/

#B_eine_Spalte {
  border: 1px solid black;
  width: 79%;
  height: 100%;
  background-color: skyblue;
  margin-left: 10%;
  margin-right: 10%;
}


/*#### Vorlage-2-Spalten ###*/

#Block_eins {
  border: 1px solid black;
  width: 37%;
  height: 100%;
  background-color: skyblue;
  margin-left: 12.5%;
}

#Block_zwei {
  border: 1px solid black;
  width: 37%;
  height: 100%;
  background-color: bisque;
  float: right;
  margin-right: 12.5%;
}


/*#### Vorlage-2-Spaöten-asymmetrisch ###*/

#großerbereich {
  width: 100vw;
  height: auto;
  justify-content: center;
  align-items: center;
}

/*####### noch nicht wichitig
#kleinerbereich {
  width: 49%;
  height: 100%;
  float: right;
  text-align: center;
  margin-right: 12.5%;
}
####*/

/*#### Vorlage-3-Spalten ###*/

#links {
  border: 1px solid black;
  width: 32.6%;
  height: 100%;
  background color: skyblue;
}

#rechts {
  border: 1px solid black;
  width: 32.6%;
  height: 100%;
  background-color: bisque
}

#mitte {
  border: 1px solid black;
  width: 32.6%;
  height: 100%;
  background-color: lightblue;
}


/* Umfassende Objekte & Klassen */


/* ################################################################## */




/* ################################################################## */


/* Landing Page */


/* ################################################################## */

#Landing_Page {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #96000f;
  background-color: white;

}

#Hintergrund_LP {
  width: 100vw;
  height: 80vh;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  background-image: url(../img/kv_start.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}


.items_LP {
  padding-top: 10vh;
}

#Hintergrund_LP h1 {
  color: white;
  font-size: 4.5em;
  font-weight: bolder;
}

#Hintergrund_LP h2 {
  color: white;
}

.Mehr_Anzeigen {
  padding-top: 0;
  margin-top: 5vh;
  width: 12vw;
  height: 5vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-self: center;
}

.Mehr_Anzeigen p {
  align-self: center;
}


#Impressum_LP {
 width: 100vw;
 height: 20vh;

}
#Impressum_LP ul {
	display: flex;
	justify-content: center;
	margin-top: 14vh;

}


#Impressum_LP ul li {
  list-style: none;
}

#Impressum_LP ul li a {
  text-decoration: none;
}


/* ################################################################## */


/* Header */


/* ################################################################## */

header {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  height: 18vh;
  width: 100vw;
  border-bottom: 1px solid #96000f;
  background-color: rgba(255, 255, 255, 0.9);
}

header nav {
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  position: relative;
}

header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 0.5%;
  display: flex;
  align-items: center;
}

header nav ul li {
  margin: 0 40px 0 0;
  padding: 0;
  list-style: none;
  text-align: center;
  display: inline;

}

header nav ul li a {
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
  text-transform: none;
}

#ud_logo {
  width: 50px;
}

.header_buttons {
  position: absolute;
  right: 5vw;
  top: 10px;
}


/* header:hover { height:50px; } */


/* ################################################################## */


/* Footer */


/* ################################################################## */



footer {
  display: flex;
  width: 100vw;
  height: 18vh;
  justify-content: center;
  align-items: center;
  background-image: url(../img/Background.png);
  background-position: center;
}

footer ul {
  margin: 0;
  padding: 40px 0;
  list-style: none;
  text-align: center;
}

footer ul li {
  display: inline-block;
  padding: 5px;
  color: white;
}

footer ul li a {
  display: inline-block;
  text-decoration: none;
  color: white;
}


/* Media Management */


/* ################################################################## */


/* Ich kann hier beispielsweise die Höhe nicht in Pronzent sondern nur in Pixel angeben?*/

#Hintergrund_Startseite{
  width: 10vw;
  height: 82vh;
  float: right;
  background-image: url(../img/kv_mediamanagement.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 100% 100%;
  margin-top: 0;
}

#Fragen {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}


#Startseite {
  width: 100%;
  height: 62vh;
  margin-top: 10vh;
  text-align: left;
}


.container_partner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid #aaa5a0;
  width: 100vw;
  height: 18vh;
  margin: 0;
  background-image: url(../img/Background.png)
}

.item_partner {
  flex-basis: 10vw;
  flex-shrink: 1;
}

.container_partner h2 {
  color: white;
}


.item_partner:nth-child(1){
  flex-basis: 100vw;
  height: 10%;
  margin: 0;
}



.item_partner:nth-child(3){
  height: 7vh;

}

.item_partner:nth-child(4){
  height: 10vh;
}

#Partner_zwei {
  height: 10vh;


}
#Partner_zwei img {
  height: 5vh;
  width: auto;
 }


#Partner_drei img {
  height: 100%;
  width: auto;
}


#FAQ {
  width: 100%;
  height: 100%;
  text-align: left;
}


/* ################################################################## */

/*  Dashboard */


/* ################################################################## */

#Dashboard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  width: 75vw;
  height: 67vh;
  margin: 15vh 0 0 0;
  
}

#Stundenplan {
  width: 35vw;
  height: 67vh;
  padding: 0 1vw;

}

#Stundenplan img {
  width: 35vw;
  height: 67vh;
  margin-left: 5vh;
  margin-right: 5vh;
}

#Nebenbox {
  width: 35vw;
  height: 67vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ################################################################## */


/* Projekte */


/* ################################################################## */



/* Section 1: Beschreibung, Filter, Vorschau*/

#Projekte_Content {
  width: 52vw;
  height: 32vh;
  text-align: left;
}

#Hintergrund_Projekte {
  width: 32.5vw;
  height: 52vh;
  float: right;
  background-image: url(../img/../img/kv_projekte.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  margin-top: 0;
}



.container_filterboxen {
  width: 70vw;
  height: 10vh;
  display: flex;
  justify-content: flex-start;
}



.filter-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.element-item {
  height: 20vh;
  width: 15vw;
  border: 1px solid #aaa5a0;
  margin-top: 2vh;
}



.container_vorschau {
  width: 70vw;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.oakmania {
  background-image: url(../img/Projekte/PA2_Oakmania.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#link_oakmania {
  height: 20vh; 
  width: 15vw; 
}

.datalovers {
  background-image: url(../img/Projekte/PA2_Datalovers.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.human-resource {
  background-image: url(../img/Projekte/PA2_Human.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.international-studies {
  background-image: url(../img/Projekte/International_Studies.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.finanz {
  background-image: url( ../img/Projekte/finanz+.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.shiseido {
  background-image: url( ../img/Projekte/Shiseido.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.visual-content {
  background-image: url(../img/../img/Projekte/Visual_Content.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.virtual-reality{
  background-image: url(../img/../img/Projekte/PA2_VirtualReality.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}



/*Section 2: Oakmania Info*/



#Oakmania{
  width: 100vw;
  height: 62vh;
  margin-top: 10vh;
  background-color: #666666;
}


.wrapper_Oak {
  height: 62vh;
  width: 70vw;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
}


.container_foto {
  width: 35vw;
  height: 62vh;
  display: flex;
  flex-direction: column;
}



.item_foto {
  display: flex;
}



#Studenten_Foto {
  margin-top: 5vh;
  width: 35vw;
  height: 38vh;

}

#container_button {
  width: 35vw;
  height: 20vh;
  display: flex;
  justify-content: center;

}


#Praesentation_button  {
  width: 12vw;
  height: 5vh;
  box-shadow: 5px 5px 5px 0 black;
  background-color: white;
  display: flex;
  justify-content: center;
  align-self: center;
}

#Praesentation_button p {
  align-self: center;
}


.container_foto a {
	text-decoration: none;
}


.container_oak_content {
  width: 35vw;
  height: 62vh;
  display: flex;
  flex-direction: column;
}



#Oak_Content {
  height: 21vh;
}

#Oak_Content h2 {
  color: white;
  font-size: 1.4em;
  margin: 0;
}

#Oak_Content p {
  color: white;
  font-size: 0.9em;
}

#Oak_bulletpoints {
  height: 18vh;
  display: flex;
  justify-content: flex-start;
}

#Oak_bulletpoints ul {
  list-style: ;
}

#Oak_bulletpoints ul li {
  color: white;
  font-size: 0.9em;
}

#Oak_Teilnehmer {
  height: 10vh;
  display: flex;
  justify-content: flex-start;
}


#Oak_Teilnehmer p {
  color: white;
  font-size: 0.9em;
  padding-left: 20px;
}

#Oak_Teilnehmer p b {
  color: white;
  font-size: 0.9em;
}


#Oak_Prof {
  height: 13vh;
  display: flex;
  justify-content: flex-start;
}


#Oak_Prof ul {
  list-style: none;
  padding-left: 20px;
}

#Oak_Prof ul li {
  color: white;
  font-size: 0.9em;
}

#Oak_Prof ul li b {
  color: white;
  font-size: 0.9em;
}

#Studenten_Foto {
  margin-top: 5vh;
  width: 35vw;
  align-self: flex-start;
  flex-direction: column;
}



/*Section 3: Powerpoint Oakmania*/

#Oakmania_P{
  width: 70vw;
  height: 62vh;
  display: flex;
  justify-content: center;
}

#Oak_Praesentation {
  border: 1px solid #aaa5a0;
  height: 50vh;
  width: 50vw;
}



/* ################################################################## */

/* Events */


/* ################################################################## */

#Kalender {
  display: block;
  width: 70vw;
  height: 47.5vw;
  background-image: url(../img/kv_events.jpg);
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  margin-top: 7vh;
}

#Kalender img{
  padding: 15vw 12vw 20vw 23vw;
}

.wrapper2 h1 {
  text-align: left;
}

#aim {
  display: flex;
  background-image: url(../img/finaleAIM.png);
  width: 100vw;
  height: 22vw;
  text-align: center;
  justify-content: flex-start;
  flex-direction: column;
}

#aim h3 {
  width: 70vw;
  height: auto;
  color: #FFFFFF;
  padding: 2vw;
  text-align: left;
  margin-bottom: -12px;
  margin-left: -24px;
}

#text {
  color: #FFFFFF;
  width: 40vw;
  height: 15vw;
  text-align: left;
  padding-left: 2.5vw;
  flex-direction: column;
}

#text p {
  margin-top: 0;
  padding-top: 0;
}

#text h3, #text p {
  color: #FFFFFF;
  text-align: left;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  padding-left: 2.5vw;
}

.Kalendericon {
  display: flex;
  flex-direction: column;
  padding: 0 2.5vw;
  flex: 1;
  width: 5vw;
  height: 2vw;
}

.Kalendericon p {
  text-align: center;
  color: #FFFFFF;
  margin-left: -1vw;
  margin-top: 2vw;
}

.Kalendericon img {
  width: 3vw;
  height: 3vw;
}

.Uhricon {
  display: flex;
  flex-direction: column;
  padding: 0 2.5vw;
  flex: 1;
  width: 5vw;
  height: 2vw;
}

.Uhricon p {
  text-align: center;
  color: #FFFFFF;
  margin-top: 2vw;
  margin-left: -1vw;
}

.Uhricon img {
  width: 3vw;
  height: 3vw;
}

.Lageicon {
  display: flex;
  flex-direction: column;
  padding: 0 2.5vw;
  flex: 1;
  width: 5vw;
  height: 2vw;
}

.Lageicon p {
  text-align: center;
  color: #FFFFFF;
  margin-top: 2vw;
  margin-left: -1vw;
}

.Lageicon img {
  width: 3vw;
  height: 3vw;
}
/*#######
#aimbutton {
  width: 150px;
  height: 40px;
  border: 1px solid black;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
}
#####*/

#CampusCamp {
  display: flex;
  width: 70vw;
  height: auto;
  justify-content: flex-start;
  text-align: center;
  flex-direction: row;
  padding-top: 2.5vw;
  padding-bottom: 2.5vw;
}

#CampusCampBild {
  display: flex;
  justify-content: center;
  width: 25vw;
  height: auto;
}

#CampusCamptext {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  text-align: left;
  width: 40vw;
  height: auto;
  padding-left: 2.5vw;
  position: absolute;
  margin-top: -2vw;
}

#CampusCamptext p {
  margin-top: 0;
  padding-top: 0;
}

#CampusCamptext h3 {
  text-align: left;
  width: 70vw;
  height: auto;
  padding: 2vw;
  margin-bottom: -12px;
  margin-left: -24px;
}

.Kalendericon .pp, .Lageicon .pp {
  color: #666666;
  text-align: center;
  margin-left: -10vw;
}


#CampusCampbutton {
  width: 15vw;
  height: 2vw;
  border: 1px solid black;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #666666;
  margin-top: 4vw;
  padding-top: 0;
}

#CampusCampbutton p {
  color: #FFFFFF;
}

#SSMT {
  display: flex;
  width: 100vw;
  height: 22vw;
  background-image: url(../img/finaleAIM.png);
  color: #FFFFFF;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  background-repeat: no-repeat;
}

#SSMT h3, #SSMT p {
  padding-top: 2vw;
  color: #FFFFFF;
  width: 40vw;
  height: auto;
  text-align: left;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
}

#SSMT p {
  font-size: 12pt;
  margin-top: -4vw;
  padding-top: 0;
  padding-left: 2.5vw;
}

#SSMT h3 {
  text-align: left;
  padding-left: 2.5vw;
  margin-top: -9vw;
}

.iconsss {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.Kalendericonss {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: 5vw;
  padding-top: 2vw;
}

.Kalendericonss img {
  width: 3vw;
  height: 3vw;
}


.Uhriconss {
  display: flex;
  flex-direction: column;
  padding: 0 2.5vw;
  flex: 1;
  width: 5vw;
  height: 2vw;
  margin-left: 1vw;
  padding-top: 2vw;
}

.Uhriconss img {
  width: 3vw;
  height: 3vw;
}


.Lageiconss {
  display: flex;
  flex-direction: column;
  padding: 0 2.5vw;
  flex: 1;
  width: 5vw;
  height: 2vw;
  margin-left: 1vw;
  padding-top: 2vw;
}

.Lageiconss img {
  width: 3vw;
  height: 3vw;
}

/*########
#SSMTbutton {
  width: 150px;
  height: 40px;
  border: 1px solid black;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
}
####*/

#Veranstaltungskalender {
  text-align: center;
}

#calendar {
  /* Fuer IE <= 6 */
  text-align: center;
  width: 100%;
  height: auto;
  padding: 10px;
}

#calendar table thead th {
  font-weight: bold;
  font-size: 0.75em;
  line-height: 1.5em;
  color: #BFBFC1;
  text-align: center;
  background-color: #96000f;
}

#calendar table thead th.weekday {
  font-weight: bold;
  font-size: 0.5em;
  line-height: 1.5em;
  color: #112A5D;
  text-align: center;
  background-color: #96000f;
  border: solid #112A5D 1px;
}

#calendar table tbody td, #calendar table tfoot td {
  font-weight: normal;
  font-size: 0.5em;
  line-height: 1.5em;
  width: 2.0em;
  padding-left: 0.6em;
  padding-right: 0.6em;
  color: #0E224B;
  text-align: right;
  border: 1px solid #CCD2D8;
}

#calendar table tfoot td {
  font-size: 0.65em;
  border: none;
}

#calendar table tfoot td.calendar_week {
  text-align: left;
}

#calendar table tbody td.saturday {
  color: #9A2525;
  font-weight: normal;
}

#calendar table tbody td.sunday {
  color: #9A2525;
  font-weight: bold;
}

#calendar table tbody td.weekend {
  color: #9A2525;
}

#calendar table tbody td.today {
  background-color: #96000F;
}

#calendar table thead th.prev_year, #calendar table thead th.next_year {
  margin: 0.1em;
  padding: 0.1em;
  line-height: 0.75em;
  font-size: 0.65em;
}

#calendar table tbody td.last_month, #calendar table tbody td.next_month {
  color: #a3afc4;
}

#calendar table {
  border-collapse: collapse;
  border: solid #112A5D 2px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #96000f;
}


/* Ausstattung */


/* ################################################################## */

#Banner {
  display: flex;
  background-image: url(../img/finale.jpg);
  justify-content:flex-start;
  background-repeat: no-repeat;
  width: 70vw;
  height: auto;
  margin-top: -2vh;
}

#Text {
  display: inline-block;
  width: 35vw;
  height: auto;
  text-align: left;
}

#Uberschrift {
  font-size: 14pt;
}

#Raeume {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  color: #FFFFFF;
  text-decoration: none;
}

#AV-Lab {
  border: 1px solid #666666;
  width: 15vw;
  height: auto;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #666666;
  box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.6);
}

#AV-Lab a {
  color: #FFFFFF;
  text-decoration: none;
}

#Media-Lab {
  border: 1px solid #666666;
  width: 15vw;
  height: auto;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #666666;
  box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.6);
}

#Media-Lab a {
  color: #FFFFFF;
  text-decoration: none;
}

#Projekträume {
  border: 1px solid #666666;
  width: 15vw;
  height: auto;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #666666;
  box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.6);
}

#Projekträume a {
  color: #FFFFFF;
  text-decoration: none;
}

#Studio {
  border: 1px solid #666666;
  width: 15vw;
  height: auto;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #666666;
  box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.6);
}

#Studio a {
  color: #FFFFFF;
  text-decoration: none;
}

#ud_button {
  color: #FFFFFF;
  text-decoration: none;
}

  #Slidebox {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: center;
  color: #000000;
  align-self: center;
}
/*########
#Anzeigebild img {
  flex: 1;
  width: 30vw;
  height: auto;
}

#Erlautertungstext {
  flex: 1;
  width: 35vw;
  height: auto;
  text-align: center;
  border-left: 10px;
  color: #FFFFFF;
}

#Erlautertungstext h2, #Erlautertungstext p {
  color: #FFFFFF;
}

#buttons {
  display: flex;
  width: 30vw;
  height: auto;
  flex-direction: row;
  align-items:center;
  align-content: center;
  justify-content: center;
  color: #FFFFFF;
}

#Equipment, #Raum {
  border: 1px solid white;
  width: 10vw;
  height: auto;
  flex: 1;
}
##########*/
/* Institute */


/* ################################################################## */


/* International */


/* ################################################################## */

/* Login-Feld*/


/* Eingefugt Sophia*/


/* ################################################################## */
#lightBox {
   position:fixed;
   top:50%;
   left:50%;
   margin-left:-250px;
   margin-top:-200px;
   z-index:300;
   text-align:center;
   background-color: white;
}

#grayout {
   position: fixed;
   left: 0px;
   top: 0px;
   height: 100%;
   width: 100%;
   background-color: black;
   opacity: 0.5;
   z-index: 199;
}

#grayout {
   filter: alpha(opacity=50);
}

* html #grayout {
   position: absolute;
}

.ueberschrift{
	margin-top: 2px;
	font-family: Open Sans;
	color: #aaa5a0;
	font-size: 30px;
	font-weight: bold;
}
.container_login{
	width: 500px;
	height: 400px;
	text-align: center;
	background-color: white;
	margin: 0 auto;
	margin-top: 150px;
}

.container_login img{
	width: 120px;
	height: 120px;
	margin-top: -70px;
}

input[type="text"],input[type="password"]{
	height: 45px;
	width: 300px;
	font-size: 18px;
	border-color: #73000f;
	margin-bottom: 20px;
	background-color: #e8d6d8;
}

.form-input::before {
	content: "";
	position: absolute;
	font-family: Open Sans;
	font-size: 30px;
	padding-left: 5px;
	padding-top: 5px;
	font-size: 35px;


}
.btn-einloggen{

	padding: 15px 25px;
	margin-left: 150px;
	margin-right: 150px;
	background-color: #73000f;
	margin-bottom: 10px;


}

p.info{
font-family: Open Sans;
	color: #aaa5a0;
	font-size: 15px;
}


.aussehen {
	color: white;
	text-decoration: none;
	}
