@charset "UTF-8";

/* CSS Document */


/* ################################################################## */


/* HTML Standard Tags */


/* ################################################################## */

body, html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

body {
  background-color: white;
}

h1 {
  font-size: 24pt;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
}


h2 {
  text-align: center;
  text-transform: none;
}

p {
  font-size: 11pt;
}

* {
  font-family: Open Sans;
  color: #666666;
}


/* ################################################################## */


/* Zusammengefasste Klassen */


/* ################################################################## */

.box {
  float: left;
  display: inline;
  margin-top: 2.5%;
}

.h_linksbuendig {
  font-size: 24pt;
  text-align: left;
  padding-top: 5%;
  box-sizing: border-box;
}

.wrapper {
  width: 70vw;
  margin: 0 auto;
}


/* ################################################################## */


/* Zusammengefasste ID*/


/* ################################################################## */

#Inhalt {
  padding-top: 70px;
}

#Einleitung {
  margin-top: 70px;
}


/*#### Vorlage-1-Spalte ###*/

#B_eine_Spalte {
  border: 1px solid black;
  width: 79%;
  height: 100%;
  background-color: skyblue;
  margin-left: 10%;
  margin-right: 10%;
}


/*#### Vorlage-2-Spalten ###*/

#Block_eins {
  border: 1px solid black;
  width: 37%;
  height: 100%;
  background-color: skyblue;
  margin-left: 12.5%;
}

#Block_zwei {
  border: 1px solid black;
  width: 37%;
  height: 100%;
  background-color: bisque;
  float: right;
  margin-right: 12.5%;
}


/*#### Vorlage-2-Spaöten-asymmetrisch ###*/

#großerbereich {
  width: 100vw;
  height: auto;
  justify-content: center;
  align-items: center;
}

/*####### noch nicht wichitig
#kleinerbereich {
  width: 49%;
  height: 100%;
  float: right;
  text-align: center;
  margin-right: 12.5%;
}
####*/

/*#### Vorlage-3-Spalten ###*/

#links {
  border: 1px solid black;
  width: 32.6%;
  height: 100%;
  background color: skyblue;
}

#rechts {
  border: 1px solid black;
  width: 32.6%;
  height: 100%;
  background-color: bisque
}

#mitte {
  border: 1px solid black;
  width: 32.6%;
  height: 100%;
  background-color: lightblue;
}


/* Umfassende Objekte & Klassen */


/* ################################################################## */




/* ################################################################## */


/* Landing Page */


/* ################################################################## */

#Landing_Page {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #96000f;
  background-color: white;

}

#Hintergrund_LP {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  justify-content: center;
  position: relative;
  background-image: url(../img/Startbildjpg.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}


#Mehr Anzeigen {
  height: 20px;
  width: 60px;
  margin: auto;
  position: absolute;
  display: flex;
  align-content: center;
  background-color: white;
  border: 1px solid #96000f;
}




/* ################################################################## */


/* Header */


/* ################################################################## */

header {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  height: 20vh;
  width: 100vw;
  border-bottom: 1px solid #96000f;
  background-color: white;
}

header nav {
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  position: relative;
}

header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 0.5%;
  display: flex;
  align-items: center;
}

header nav ul li {
  margin: 0 40px 0 0;
  padding: 0;
  list-style: none;
  text-align: center;
  display: inline;

}

header nav ul li a {
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
  text-transform: none;
}

#ud_logo {
  width: 50px;
}

.header_buttons {
  position: absolute;
  right: 5vw;
  top: 10px;
}


/* header:hover { height:50px; } */


/* ################################################################## */


/* Footer */


/* ################################################################## */



footer {
  display: flex;
  width: 100vw;
  height: 18vh;
  justify-content: center;
  align-items: center;
  background-image: url(../img/Background.png);
}

footer ul {
  margin: 0;
  padding: 40px 0;
  list-style: none;
  text-align: center;
}

footer ul li {
  display: inline-block;
  padding: 5px;
  color: white;
}

footer ul li a {
  display: inline-block;
  text-decoration: none;
  color: white;
}


/* Media Management */


/* ################################################################## */


/* Ich kann hier beispielsweise die Höhe nicht in Pronzent sondern nur in Pixel angeben?*/


#Fragen {
  text-decoration: none;
  text-align: center; }


#Startseite {
  width: 100%;
  height: 62vh;
  margin-top: 10vh;
  text-align: left;
}


.container_partner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid #aaa5a0;
  width: 100vw;
  height: 18vh;
  margin: 0;
  background-image: url(../img/Background.png)
}

.item_partner {
  flex-basis: 10vw;
  flex-shrink: 1;
}

.container_partner h2 {
  color: white;
}


.item_partner:nth-child(1){
  flex-basis: 100vw;
  height: 10%;
  margin: 0;
}



.item_partner:nth-child(3){
  height: 7vh;

}

.item_partner:nth-child(4){
  height: 10vh;
}

#Partner_zwei {
  height: 10vh;


}
#Partner_zwei img {
  height: 5vh;
  width: auto;
 }


#Partner_drei img {
  height: 100%;
  width: auto;
}


#FAQ {
  width: 100%;
  height: 100%;
  text-align: left;
}


/*  Dashboard */


/* ################################################################## */

#Dashboard {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
}

#Stundenplan {
  width: 65%;
  height: auto;
  border: 1px solid black;
  background-color: red;

}

#Nebenbox {
  width: 35%;
  height: auto;
  border: 1px solid black;
  background-color: green;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Projekte */


/* ################################################################## */

#Projekte_Content {
  border: 1px solid #aaa5a0;
  width: 54%;
  height: 100%;
  text-align: left;
}

#Hintergrund_Projekte {
  border: 1px solid #aaa5a0;
  width: 20%;
  height: 320px;
  float: right;
  background-image: url(../img/Projekte_BG.png);
}

#Filterboxen {

}


/* ######### Kriege die Filterboxen nicht mehr in eine Reihe, daher klammer ich diese erst mal aus

#Filter_eins {width: 10%; height: 30px; text-align: left;border: 1px solid #aaa5a0;}

#Filter_zwei {width: 10%; height: 30px; text-align: left; margin-left: 5%; border: 1px solid #aaa5a0; }

#Filter_drei {width: 10%; height: 30px; text-align: left; margin-left: 5%; border: 1px solid #aaa5a0;}

				#########*/

.filter-grid {
  display: flex;
}

.element-item {
  flex: 1;
}



.container_filterboxen {
  display: flex;
  justify-content: flex-start;
}



.container_vorschau {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


.element-item {
  flex-basis: 10px;
  border: 1px solid #aaa5a0;
}

#Vorschau_Reins {
  border: 1px solid #aaa5a0;
  width: 75%;
  height: 10px;
  text-align: left;
  display: grid;
}




#Studenten_Foto {
  border: 1px solid #aaa5a0;
  width: 33vw;
  height: 100%;
}

#Oak_Content {
  border: 1px solid #aaa5a0;
  width: 33vw;
  height: 100%;
  float: right;
}

#Oak_Teilnehmer {
  border: 1px solid #aaa5a0;
  width: 100%;
  height: 100%;
  text-align: left;
  margin-top: 5%;
  display: grid;
}

#Oak_Praesentation {
  border: 1px solid #aaa5a0;
  width: 100;
  height: 100%;
  text-align: left;
  margin-top: 5%;
  display: grid;
}


/* Events */


/* ################################################################## */

#Kalender {
  display: block;
  width: 70vw;
  height: 47.5vw;
  background-image: url(../img/kv_events.jpg);
  justify-content: center;
  align-items: center;
}

#Kalender img{
  padding: 15vw 12vw 20vw 23vw;
}

#aim {
  display: flex;
  background-image: url(../img/finaleAIM.png);
  width: 70vw;
  height: 22vw;
  text-align: center;
  justify-content: flex-start;
  flex-direction: column;
}

#aim h3 {
  width: 70vw;
  height: auto;
  color: #FFFFFF;
  padding: 2vw;
  text-align: left;
  padding-left: 2.5vw;
}

#text p {
  color: #FFFFFF;
  width: 40vw;
  height: 15vw;
  text-align: left;
  padding-left: 2.5vw;
}

#aimbutton {
  width: 150px;
  height: 40px;
  border: 1px solid black;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
}

#CampusCamp {
  display: flex;
  width: 70vw;
  height: auto;
  justify-content: center;
  text-align: center;
}

#CampusCampbutton {
  width: 150px;
  height: 40px;
  border: 1px solid black;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
}

#SSMT {
  display: flex;
  width: 100vw;
  height: auto;
  background-color: rgb(70, 65, 60);
  color: #FFFFFF;
  text-align: center;
  justify-content: center;
}



#SSMTbutton {
  width: 150px;
  height: 40px;
  border: 1px solid black;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
}

#Veranstaltungskalender {
  text-align: center;
}

#calendar {
  /* Fuer IE <= 6 */
  text-align: center;
  width: 100%;
  height: auto;
  padding: 10px;
}

#calendar table thead th {
  font-weight: bold;
  font-size: 0.75em;
  line-height: 1.5em;
  color: #BFBFC1;
  text-align: center;
  background-color: #96000f;
}

#calendar table thead th.weekday {
  font-weight: bold;
  font-size: 0.5em;
  line-height: 1.5em;
  color: #112A5D;
  text-align: center;
  background-color: #96000f;
  border: solid #112A5D 1px;
}

#calendar table tbody td, #calendar table tfoot td {
  font-weight: normal;
  font-size: 0.5em;
  line-height: 1.5em;
  width: 2.0em;
  padding-left: 0.6em;
  padding-right: 0.6em;
  color: #0E224B;
  text-align: right;
  border: 1px solid #CCD2D8;
}

#calendar table tfoot td {
  font-size: 0.65em;
  border: none;
}

#calendar table tfoot td.calendar_week {
  text-align: left;
}

#calendar table tbody td.saturday {
  color: #9A2525;
  font-weight: normal;
}

#calendar table tbody td.sunday {
  color: #9A2525;
  font-weight: bold;
}

#calendar table tbody td.weekend {
  color: #9A2525;
}

#calendar table tbody td.today {
  background-color: #96000F;
}

#calendar table thead th.prev_year, #calendar table thead th.next_year {
  margin: 0.1em;
  padding: 0.1em;
  line-height: 0.75em;
  font-size: 0.65em;
}

#calendar table tbody td.last_month, #calendar table tbody td.next_month {
  color: #a3afc4;
}

#calendar table {
  border-collapse: collapse;
  border: solid #112A5D 2px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #96000f;
}


/* Ausstattung */


/* ################################################################## */

#Banner {
  display: flex;
  background-image: url(../img/finale.jpg);
  justify-content:flex-start;
  background-repeat: no-repeat;
  width: 70vw;
  height: auto;
}

#Text {
  display: inline-block;
  width: 35vw;
  height: auto;
  text-align: left;
}

#Uberschrift {
  font-size: 14pt;
}

#Raeume {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  color: ##FFFFFF;
  text-decoration: none;
}

#AV-Lab {
  border: 1px solid black;
  width: 15vw;
  height: auto;
  text-align: center;
  background-color: rgb(150, 0, 15);
  color: #FFFFFF;
  text-decoration: none;
}

#Media-Lab {
  border: 1px solid black;
  width: 15vw;
  height: auto;
  text-align: center;
  background-color: rgb(150, 0, 15);
  color: #FFFFFF;
  text-decoration: none;
}

#Projekträume {
  border: 1px solid black;
  width: 15vw;
  height: auto;
  text-align: center;
  background-color: rgb(150, 0, 15);
  color: #FFFFFF;
  text-decoration: none;
}

#Studio {
  border: 1px solid black;
  width: 15vw;
  height: auto;
  text-align: center;
  background-color: rgb(150, 0, 15);
  color: white;
  text-decoration: none;
}

#ud_button {
  color: #FFFFFF;
  text-decoration: none;
}

#Slidebox {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(70, 65, 60);
  color: #000000;
  align-self: center;
}

#Anzeigebild img {
  flex: 1;
  width: 30vw;
  height: auto;
}

#Erlautertungstext {
  flex: 1;
  width: 35vw;
  height: auto;
  text-align: center;
  border-left: 10px;
  color: #FFFFFF;
}

#Erlautertungstext h2, #Erlautertungstext p {
  color: #FFFFFF;
}

#buttons {
  display: flex;
  width: 30vw;
  height: auto;
  flex-direction: row;
  align-items:center;
  align-content: center;
  justify-content: center;
  color: #FFFFFF;
}

#Equipment, #Raum {
  border: 1px solid white;
  width: 10vw;
  height: auto;
  flex: 1;
}

/* Institute */


/* ################################################################## */


/* International */


/* ################################################################## */

/* Login-Feld*/


/* Eingefugt Sophia*/


/* ################################################################## */
#lightBox {
   position:fixed;
   top:50%;
   left:50%;
   margin-left:-250px;
   margin-top:-200px;
   z-index:300;
   text-align:center;
   background-color: white;
}

#grayout {
   position: fixed;
   left: 0px;
   top: 0px;
   height: 100%;
   width: 100%;
   background-color: black;
   opacity: 0.5;
   z-index: 199;
}

#grayout {
   filter: alpha(opacity=50);
}

* html #grayout {
   position: absolute;
}

.ueberschrift{
	margin-top: 2px;
	font-family: Open Sans;
	color: #aaa5a0;
	font-size: 30px;
	font-weight: bold;
}
.container_login{
	width: 500px;
	height: 400px;
	text-align: center;
	background-color: white;
	margin: 0 auto;
	margin-top: 150px;
}

.container_login img{
	width: 120px;
	height: 120px;
	margin-top: -70px;
}

input[type="text"],input[type="password"]{
	height: 45px;
	width: 300px;
	font-size: 18px;
	border-color: #73000f;
	margin-bottom: 20px;
	background-color: #e8d6d8;
}

.form-input::before {
	content: "";
	position: absolute;
	font-family: Open Sans;
	font-size: 30px;
	padding-left: 5px;
	padding-top: 5px;
	font-size: 35px;


}
.btn-einloggen{

	padding: 15px 25px;
	margin-left: 150px;
	margin-right: 150px;
	background-color: #73000f;
	margin-bottom: 10px;


}

p.info{
font-family: Open Sans;
	color: #aaa5a0;
	font-size: 15px;
}


.aussehen {
	color: white;
	text-decoration: none;
	}
